<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form for django</title>
</head>
<body>
    <form method="POST">
    {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <p>Didnt have account the go here <a href="{%  url 'register'  %}">Register here</a></p>
</body>
</html>